direct/Debug/direct.Build.CppClean.log
direct/Debug/direct.exe.recipe
direct/Debug/direct.log
direct/Debug/direct.obj
direct/Debug/direct.vcxproj.FileListAbsolute.txt
direct/Debug/main.obj
direct/Debug/moc_direct.obj
direct/Debug/qrc_direct.obj
direct/Debug/qt_work.log
direct/Debug/vc142.pdb
direct/Debug/direct.tlog/CL.command.1.tlog
direct/Debug/direct.tlog/CL.read.1.tlog
direct/Debug/direct.tlog/CL.write.1.tlog
direct/Debug/direct.tlog/direct.lastbuildstate
direct/Debug/direct.tlog/direct.write.1u.tlog
direct/Debug/direct.tlog/link.command.1.tlog
direct/Debug/direct.tlog/link.read.1.tlog
direct/Debug/direct.tlog/link.write.1.tlog
direct/Debug/direct.tlog/moc.read.1u.tlog
direct/Debug/direct.tlog/moc.write.1u.tlog
direct/Debug/direct.tlog/rcc.read.1u.tlog
direct/Debug/direct.tlog/rcc.write.1u.tlog
direct/Debug/direct.tlog/uic.read.1u.tlog
direct/Debug/direct.tlog/uic.write.1u.tlog
direct/Debug/moc/moc_direct.cpp
direct/Debug/qmake/qtvars_Win32_Debug.props
direct/Debug/qmake/temp/.qmake.stash
direct/Debug/qmake/temp/54A454AA-7A0A-4DC2-B6CE-B824BC578A98.direct.designtime.idx
direct/Debug/qmake/temp/Makefile
direct/Debug/qmake/temp/props.txt
direct/Debug/qmake/temp/qtvars.log
direct/Debug/qmake/temp/qtvars.pro
direct/Debug/qmake/temp/qtvars_Win32_Debug.props
direct/Debug/rcc/qrc_direct.cpp
direct/Debug/uic/ui_direct.h
